.shows_section {
    background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
    min-height: 100vh;
}

.summary_bg {
    background: #00000061;
}

.text_clr {
    color: #282525;
}

.show_card {
    box-shadow: 0px 10px 20px rgba(64, 61, 61, 0.3);
    transition: all 0.3s ease;
}

.show_card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 2, 2, 0.4);
}
.w_fit {
    width: fit-content;
}
.summary_btn {
    color: #ebf5fc;
    background: radial-gradient(circle, #f52982 0%, #f52982 100%);
    display: inline-block;
    padding: 10px 30px;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: semibold;
    text-transform: capitalize;
    border-radius: 30px;
    transition: all 0.5s ease;
}

.summary_btn:hover {
    background: radial-gradient(circle, #f52982 0%, #94bbe9 100%);
    letter-spacing: 2px;
}
.input_field {
    border: none;
    padding: 5px;
    box-shadow: 0px 4px 5px rgba(0, 2, 2, 0.4);
}
.input_field:focus {
    outline: none;
}